*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    background-color: #ccc;
}

.top-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #bbb;
}

.info-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .5rem;
    padding: 1rem;
}

.form-group label {
    font-size: 2rem;
    font-weight: bolder;
}

.form-group input {
    font-size: 1.5rem;
    border: none;
    outline: 2px solid black;
    padding: .2rem;
}

.form-group input:valid {
    outline: 2px solid lime;
}

.form-group input:invalid:focus {
    outline: 2px solid orangered;
}

.help {
    font-size: 1.2rem;
    font-style: oblique;
}

button {
    --hue: 0;
    --saturation: 0%;
    --lightness: 50%;
    border: 2px solid black;
    background-color: hsl(var(--hue), var(--saturation), var(--lightness));
    cursor: pointer;
    padding: .5rem 0;

}

.btn {
    font-size: 1.5rem;
    width: 100%;
    color: white;
    text-shadow: 1px 1px 5px black;
    padding: .5rem 2rem;
    border-radius: 5px;
}

.btn:hover {
    --lightness: 30%;
}

.btn-success {
    --hue: 140;
    --saturation: 100%;
}

.btn-info {
    --hue: 190;
    --saturation: 100%;
}

hr {
    margin: 1rem 0 1rem 0;
}

.pokemon-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: .5rem;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    width: 350px;
    height: 550px;
    padding: .5rem;
    gap: 1rem;
}

.types {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.pill {
    border: 1px solid black;
    padding: .5rem;
    border-radius: 100vh;
    min-width: 100px;
    text-align: center;
    font-size: 1.3rem;
    color: white;
    text-shadow: 1px 1px 5px black;
    --hue: 0;
    --saturation: 100%;
    --lightness: 50%;
    background-color: hsl(var(--hue), var(--saturation), var(--lightness));
}

.plant {
    --hue: 130;
}

.poison {
    --hue: 280;
}

.fire {
    --hue: 0;
}

.water {
    --hue: 240;
}

.bug {
    --hue: 150;
}

.normal {
    --saturation: 0%;
}

.electric {
    --hue: 60;
}

.sol {
    --hue: 30;
}

.fight {
    --hue: 0;
    --saturation: 20%;
}

.psy {
    --hue: 320;
}

.stone {
    --saturation: 0%;
    --lightness: 25%;
}

.ghost {
    --hue: 300;
}

.ice {
    --hue: 180;
}

.dragon {
    --hue: 210;
}

.fairy {
    --hue: 330;
}

.dark {
    --saturation: 0%;
    --lightness: 10%;
}

.steel {
    --saturation: 0%;
    --lightness: 25%;
}

.fly {
    --hue: 160;
}

.pokemon-card p {
    font-size: 1.5rem;
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}

[data-message-box] {
    text-align: center;
    font-size: 1.5rem;
    padding: .5rem;
    z-index: 2;
}

.error-message {
    background-color: rgba(200, 0, 0, .2);
}

.success-message {
    background-color: rgba(0, 200, 0, .2);
}

.pokemon-counters {
    font-size: 10rem;
}

.error-counter {
    color: red;
    font-size: 1.5rem;
}

.streak {
    color: green;
    font-size: 1.5rem;
}

.hidden {
    display: none;
}