/* COMPOSITION */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    background-color: hsl(226, 61%, 23%);
}

@font-face {
    font-family: "pokemonS";
    src: url("./fonts/PokemonS.ttf");
}

.pokemon-font {
    font-family: "pokemonS";
    font-size: 5rem;
    color: hsl(52, 100%, 65%);
    text-shadow: 2px 0 hsl(217, 55%, 34%), -2px 0 hsl(217, 55%, 34%), 0 2px hsl(217, 55%, 34%), 0 -2px hsl(217, 55%, 34%),
        1px 1px hsl(217, 55%, 34%), -1px -1px hsl(217, 55%, 34%), 1px -1px hsl(217, 55%, 34%), -1px 1px hsl(217, 55%, 34%), 5px 5px 10px black;

}

.top-container {
    /* opacity: 0; */
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999999;
}

/* UTILITY */

.hidden {
    display: none;
}

/* BLOCK */

/* Form */

.info-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    color: hsl(226, 61%, 23%);
    background-color: hsla(52, 91%, 69%, 0.95);
}

.title {
    text-align: center;
    text-shadow: 2px 0 hsl(217, 55%, 34%), -2px 0 hsl(217, 55%, 34%), 0 2px hsl(217, 55%, 34%), 0 -2px hsl(217, 55%, 34%), 5px 5px 30px black;
    letter-spacing: 10px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .5rem;
    padding: 1rem;
}

.form-group label {
    font-size: 2rem;
    font-weight: bolder;
}

.form-group input {
    font-size: 1.5rem;
    border: none;
    outline: 2px solid black;
    padding: .2rem;
    min-width: 700px;
}

.form-group input:valid {
    outline: 2px solid lime;
}

.form-group input:invalid:focus {
    outline: 2px solid orangered;
}

button {
    cursor: pointer;

    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    padding: .3rem 2rem;

    font-size: 1.2rem;
    color: white;
    text-shadow: 1px 1px 5px black;

    --hue: 0;
    --saturation: 0%;
    --lightness: 50%;
    background-color: hsl(var(--hue), var(--saturation), var(--lightness));

}

.btn:hover {
    --lightness: 30%;
}

.btn-success {
    --hue: 140;
    --saturation: 100%;
}

.btn-info {
    --hue: 190;
    --saturation: 100%;
}

.pokemon-counters {
    font-size: 3rem;
    line-height: 1.5;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5rem;
}

[data-message-box] {
    text-align: center;
    font-size: 1.5rem;
    padding: .5rem;
    z-index: 2;
}


.error-message {
    background-color: hsl(10, 78%, 53%);
    color: white;
}

.success-message {
    background-color: hsl(83, 52%, 52%);
}


/* Pokemon Card */

.pokemon-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: .5rem;
}

.flipping-card {
    background-color: transparent;
    perspective: 1000px;
    width: 350px;
    height: 550px;
}

.flipping-card.show .card {
    transform: rotateY(180deg)
}

.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
}

.pokemon-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 20px solid hsl(227, 54%, 21%);
    border-right: 20px solid hsl(227, 54%, 21%);
    background-image: url("./assets/pokemonBack.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
}

.pokemon-card {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 10px;
    background-color: hsl(var(--hue), var(--saturation), var(--lightness));
    /* Rajouter filter pour avoir l'effet bubulle */
    backface-visibility: hidden;
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    padding: .5rem;
}

.header-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pokemon-card p {
    font-size: 1.5rem;
}

.img-card {
    width: 100%;
    height: 40%;

    border: 3px gainsboro ridge;
    border-bottom: 10px gainsboro ridge;
    background-color: aliceblue;

    /* border: 2px red solid; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.description {
    padding: 1rem;
    padding-right: 0;
    width: 100%;
    height: 40%;

    border-radius: 5px;
    background-color: rgba(186, 186, 186, .5);
}

.types {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.pill {
    color: white;
    font-size: 1.3rem;
    text-shadow: 1px 3px 5px black;
    text-align: center;

    min-width: 100px;
    padding-bottom: .4rem;
    padding-top: .2rem;

    border: 2px white solid;
    border-radius: 5px;
    filter: saturate(70%);
    box-shadow: 0 2px 2px grey;

    --hue: 0;
    --saturation: 100%;
    --lightness: 50%;
    background-color: hsl(var(--hue), var(--saturation), var(--lightness));
}

/* EXCEPTION */

.plant {
    --hue: 83;
    --saturation: 52%;
    --lightness: 52%;
}

.poison {
    --hue: 289;
    --saturation: 34%;
    --lightness: 55%;
}

.fire {
    --hue: 10;
    --saturation: 78%;
    --lightness: 53%;
}

.water {
    --hue: 198;
    --saturation: 75%;
    --lightness: 53%;
}

.bug {
    --hue: 67;
    --saturation: 80%;
    --lightness: 35%;
}

.normal {
    --hue: 26;
    --saturation: 11%;
    --lightness: 76%;
}

.electric {
    --hue: 49;
    --saturation: 99%;
    --lightness: 70%;
}

.sol {
    --hue: 27;
    --saturation: 69%;
    --lightness: 34%;
}

.fight {
    --hue: 29;
    --saturation: 69%;
    --lightness: 52%;
}

.psy {
    --hue: 282;
    --saturation: 31%;
    --lightness: 77%;
}

.stone {
    --hue: 52;
    --saturation: 23%;
    --lightness: 60%;
}

.ghost {
    --hue: 300;
    --saturation: 28%;
    --lightness: 34%;
}

.ice {
    --hue: 192;
    --saturation: 100%;
    --lightness: 42%;
}

.dragon {
    --hue: 233;
    --saturation: 72%;
    --lightness: 60%;
}

.fairy {
    --hue: 333;
    --saturation: 75%;
    --lightness: 71%;
}

.dark {
    --hue: 185;
    --saturation: 100%;
    --lightness: 16%;
}

.steel {
    --hue: 180;
    --saturation: 4%;
    --lightness: 65%;
}

.fly {
    --hue: 210;
    --saturation: 100%;
    --lightness: 79%;
}